boto3==1.36.26
botocore==1.36.26
certifi==2025.1.31
charset-normalizer==3.4.1
decorator==4.4.2
dotenv==0.9.9
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
jmespath==1.0.1
moviepy==1.0.3
numpy==2.2.3
pillow==10.4.0
praw==7.8.1
prawcore==2.4.0
proglog==0.1.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
s3transfer==0.11.2
six==1.17.0
tqdm==4.67.1
update-checker==0.18.0
urllib3==2.3.0
websocket-client==1.8.0
yt-dlp==2025.2.19
