boto3==1.37.4
botocore==1.37.4
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
decorator==4.4.2
dotenv==0.9.9
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.68.0
httplib2==0.22.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
jmespath==1.0.1
moviepy==1.0.3
numpy==2.0.2
oauthlib==3.2.2
pillow==11.1.0
praw==7.8.1
prawcore==2.4.0
proglog==0.1.10
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.11.3
six==1.17.0
tqdm==4.67.1
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.20
websocket-client==1.8.0
yt-dlp==2025.2.19
